.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.optionalHomeless{
  color: rgb(0,76,115)
}
.lightBackground{
  background-color: rgba(22,162,184,.1)
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#root {
  height: 100%;
  position: relative;
}

#main-content {
  height: 100%;
  position: relative;
}

.nextButton{
  width:100%;
  font-weight:bold;
  font-size:22px;
  
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:rgb(19,115,142);
  color:white;
  border:2px solid white
}
.navBar {
  width: 100%;
  height: 15%;
  align-content: center;
  display: inline-block;
  background-color: grey;
  color: black;
  border: 5px solid black;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h5 {
  text-align: center;
}

.phoneNumber{
  background-color: white;
  border:1px solid black;
  width:30px;
  height:30px;
  margin-left: 10px
}
#phoneThree {
  width: 50px;
}
#numberOfPeople {
  margin-left: 15px;
}

.phoneNumberDiv {
  margin-left: 10px;
}

.circle {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: 2px solid black;
  display: inline-block;
}

.circle_filled {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: 2px solid black;
  background-color: gray;
  display: inline-block;
}
.flagIcon{
  height:6%;
  width:6%;
  float:right;
  margin-right:38px;
  margin-top: -36px;
}

.gradientDiv{
  background-image:linear-gradient(white, rgb(236,238,238))
}
.nameInput {
  width: 87%;
  border-right:none;
  border-left:none;
  border-top:none;
  border-bottom: 2px solid rgb(19,115,142);
  
  margin-left:15px
}

#numberOfPeople {
  font-size: bold;
}

#address {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom:1px solid rgb(19,115,142);
  border-right:none;
  border-left:none;
  border-top:none;
}

#date {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom:1px solid rgb(19,115,142);
  border-right:none;
  border-left:none;
  border-top:none;
  
}

.adminButtonOne{
  background-color: rgb(19, 115, 142);
  border:2px solid black;
  margin-left:2%;
  margin-right:10%;
  border-radius:18%;
}

.adminHeader{
  color:rgb(19, 115, 142);
  margin-top:20px
}

#time {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid rgb(216, 216, 216);
  border-right: none;
  border-left: none;
  border-top: none;
  color: rgb(216, 216, 216);
}

#mapLocation {
  background-color: rgb(216, 216, 216);
  margin-top: -28px;
  margin-left: 85px;
  font-weight: bolder;
  position: absolute;
  width: 150px;
  height: 27px;
  border: 1px solid black;
}

#location {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid rgb(216, 216, 216);
  border-right: none;
  border-left: none;
  border-top: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mapContainer {
  width: 40%;
  padding-top: 2em;
  padding-left: 2em;
  height: 50%;
}
.formOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.homelessNeeds{
  background-color: rgba(19,115,142,.5);
  width:45%;
  margin-bottom: 2%;
  display: inline-block;
  margin-left: 1%;
  text-align: center;
  border: 2px solid black;
}
.homelessNeedsClicked {
  background-color: grey;
  width: 45%;
  margin-bottom: 2%;
  display: inline-block;
  margin-left: 1%;
  text-align: center;
  border: 2px solid black;
}
.otherInput {
  border-bottom: 1px solid rgb(216, 216, 216);
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
}

.descriptionArea {
  width: 322px;
  height: 74px;
  margin-right: 19px;
  margin-left: 19px;
  background-color: whitesmoke
}
.cameraImg {
  width: 208px;
  height: 160px;
  margin-right: 90px;
  margin-bottom: 30px;
  margin-top: -20px;
  margin-left: 70px;
}
#getPassword{
  background-color:rgb(216,216,216);
  width:70%;
  margin-left:20px
}
#getPasswordButton{
  background-color:rgb(19, 115, 142)
}
#idThing{
  margin-left: 20px;
}
